*

!.gitignore

!/philo/
!/philo/libs
!/philo/includes
!/philo/srcs
!/philo/Makefile

!/philo_bonus/
!/philo_bonus/libs_bonus
!/philo_bonus/includes_bonus
!/philo_bonus/srcs_bonus
!/philo_bonus/Makefile

!*.c
!*.h
/objs/
/objs_bonus/